/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* background: #000; */
}

/* .background {
  background-image: url("./Assets/BACKGROUND.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.form-container {
  background-color: rgb(190, 190, 225);
  border-radius: 1rem;
  gap: 1.5rem;
}
